html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

.test{
  display: block;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}



.blog__item,.blogs {
    display: flex;
    justify-content: center;
    justify-content: flex-start
}

.blogs {
    flex-flow: row wrap;
    align-items: flex-start
}

.blog__item {
    width: 30%;
    background: #e8e8e8;
    border-radius: 18px;
    margin-right: 25px;
    flex-flow: column;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.blog3__item {
    margin-bottom: 35px
}

.blog__item a {
    text-decoration: none
}

.blog__image img {
    width: 100%;
    border-radius: 9px 9px 0 0
}

.blog__link {
    font-weight: 700;
    padding: 8px;
    text-align: center
}

.blog__intro,.consumer-blog-script>h2 {
    padding: 0 5%;
    text-align: center
}

.consumer-blog-script>h2 {
    margin-bottom: 20px
}

h2.contentAdmin__h2 {
    font-size: 24px;
    color: #000;
    line-height: 1.2;
    text-decoration-line: underline;
    padding: 0 4%
}

div#root {
    padding: 0 15px 15px
}

.consumer-blog-script {
    margin-top: 145px
}

.blog3 {
  padding: 0 3%;
/*     display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start; */
}

.details__item.item2 img {
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 8px
}

.blog3__item.item1 {
    width: 100%;
    margin-bottom: 25px
}

.blog3__item {
    width: 45%;
    margin-right: 35px
}

.blog3 p span {
    color: #504f51;
    font-weight: 700
}

.details {
     color: #000;
 /*   max-width: 80%;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2%;
    text-align: center */
}

.blog3 p {
    width: 100%;
    text-align: left;
    font-weight: 300;
    font-size: 18px;
    padding: 0 3%;
}

.details__item.item1 h2 {
    font-size: 40px;
    text-transform: capitalize;
    color: #4a3292;
    width: 75%;
    display: inline-block
}

.blog__item.blogs1 {
    width: 50%;
}

.details__item .item2,
.details__item .item3,
.details__item .item4,
.details__item .item5,
.details__item .item6,
.details__item .item7,
.details__item .item8 {
/*     background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 2% */
}

.blog3 img {
    width: 100%;
    border: 1px solid #add8e6
}

/* Back to blog button */
.backHome {
    text-align: center;
    background: #4a3292;
    max-width: 15%;
    border-radius: 4px;
    padding: 15px;
    margin: 18px auto;
}

.backHome a {
    color: #fff;
    font-size: 23px;
    text-decoration: none;
}

/* filter area */

div#root {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.filter {
    max-width: 20%;
    margin-right: 7px;
}

.nmxmod_blog {
    max-width: 75%;
    margin-left: 45px;
    padding-left: 25px;
    border-left: solid 2px;
}

.filter__item.item1 h3 {
    display: block;
    line-height: 1;
    font-size: 14px;
    border-width: 0 0 0 3px;
    border-style: solid;
    border-color: #4a3292;
    padding-left: 15px;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a3292;
    letter-spacing: 1px;
}

.filter__item.item1 .filters__item {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.filter__item.item1 .filters__item input {
    display: none;
}


.filter__item label {
  margin-bottom: 0;
  color: #000;
}

span.count {
  background: #e8e8e8;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #030303;
  font-size: 12px;
}

/* Recent area */
.recent__item img {
  max-width: 160px;
  border-radius: 5px;
  margin-right: 12px;
  margin-bottom: 7px;
}

p.recent__title {
  color: #000;
  font-size: 14px;
}

.recent__item {
  margin-bottom: 7px;
}

.recent__item a {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.recent h3{
  display: block;
  line-height: 1;
  font-size: 14px;
  border-width: 0 0 0 3px;
  border-style: solid;
  border-color: #4a3292;
  padding-left: 15px;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a3292;
  letter-spacing: 1px;
}

.filter__item button {
  background: #e8e8e8;
  border: none;
  margin-bottom: 12px;
  color: #191919;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width:730px) {
    .blog3__item {
        width: 100%;
        margin-bottom: 55px
    }
    .blogs .blog__item{
      margin-right: 0;
    }
    .blogs .blog__item{
      width: 100%;
    }
    .blog3__item{
      margin-right: 0;
    }
    .details__item.item2 img {
        width: 100%
    }
}